
<div class="container text-center">
<h1>EN CONSTRUCCIÓN...</h1>
<h6>Esta parte del sitio estara lista pronto...</h6>
</div>


<div class="container">
  <div class="row col-12">


    <img src="/images/under.svg">


  </div>
</div>