<div id="container" class="container ">
  <div class="row justify-content-center">
    <div class="col-sm-6 offset-sm-1 text-center">
      <h5 class="display-5">Captura los datos de tu tienda!</h5>
      <br>
      <div class="info-form">
        <form class="md-form" action="/administrartienda/altatienda/add" method="post"  enctype="multipart/form-data">
          <div class="form-group">
            <select class="form-control" name="divisa" placeholder="Selecciona pais">
              <option value="Mexico">Mexico</option>
              <option value="Estados Unidos">Estados Unidos</option>
              <option value="Europa">Europa</option>
            </select>
          </div>
          <div class="form-group">
            <label for="divisa">Divisa:</label>
            <select class="form-control" name="divisa" placeholder="Selecciona divisa">
              <option value="Peso Mexicanos">Peso Mexicanos</option>
              <option value="Dolar Estadounidense">Dolar Estadounidense</option>
              <option value="Euro">Euro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre Tienda:</label>
            <input class="form-control" type="text" name="nombre" value="" placeholder="Ingresa nombre de la tienda">
          </div>
          <div class="form-group">
            <label for="imagen">Agrega una imagen:</label>
            <input class="form-control btn" type="file" name="photo" value="">
          </div>
          <button class="btn btn-primary" type="submit" name="" value="">Guardar</button>
        </form>
        <br><br><br><br>
      </div>
    </div>
  </div>
</div>
