<div class="container contenedor">
  	<div class="row shadow-lg cta-card">

        <div class="col-md-3 contenedor">
            <div class="list-group ">
                <a href="/perfil" class="list-group-item list-group-item-action">Perfil</a>
                <a href="/compras" class="list-group-item list-group-item-action">Compras</a>
                <a href="/carrito" class="list-group-item list-group-item-action">Carrito</a>
                <a href="/administrartienda" class="list-group-item list-group-item-action active">Tienda</a>
            </div>
        </div>
 <!-- contenedor derecha  -->
        <div class="col-sm-9">
                <div class="card contenedor">
                            <div class="card-body">
<!-- Card body  -->
                                <div class="row">
                                  <div class="col-md-12">
                                      <h4>Captura los datos de tu tienda</h4>
                                      <hr>
                                  </div>
                                </div>
<!-- Form 'aqui va el bgd'  -->
                            <div id="container" class="container bgd">
                                <div class="row">
                                    <div class="col-sm-6 offset-sm-1"><br>
                                        <div class="info-form">
                                            <form class="md-form" action="/administrartienda/altatienda/add" method="post"  enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="pais">País origen:</label>
                                                    <select class="form-control" name="pais" placeholder="Selecciona pais" required="required">
                                                        <option value="Mexico">México</option>
                                                        <option value="Estados Unidos">Estados Unidos</option>
                                                        <option value="Europa">Europa</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="divisa">Divisa:</label>
                                                    <select class="form-control" name="divisa" placeholder="Selecciona divisa" required="required">
                                                        <option value="Peso Mexicanos">Peso Mexicano</option>
                                                        <option value="Dolar Estadounidense">Dolar Estadounidense</option>
                                                        <option value="Euro">Euro</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nombre">Nombre Tienda:</label>
                                                    <input class="form-control" type="text" name="nombre" value="" placeholder="Ingresa nombre de la tienda" required="required">
                                                </div>
                                                <div class="form-group">
                                                    <label for="imagen">Agrega una imagen:</label>
                                                    <input class="form-control btn" type="file" name="photo" value="" required="required">
                                                </div><br>
                                                <button class="btn btn-info" type="submit" name="" value="">Guardar</button>
                                                <br><br>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <br>
                        <br>
                    <br>
                <br>
            <br>
        <br>
    <br>
<br>
