<form class="" action="index.html" method="post">
  <label for="pais">Pais: </label>
  <input type="text" name="pais" value="" placeholder="Ingresa País">
  <label for="divisa">Divisa:</label>
  <select name="divisa" placeholder="Selecciona divisa">
    <option value="MXP">Peso Mexicanos</option>
    <option value="USD">Dolar Estadounidense</option>
    <option value="EUR">Euro</option>
  </select>
  <label for="nombre">Nombre Tienda:</label>
  <input type="text" name="nombre" value="" placeholder="Ingresa nombre de la tienda">
  <label for="imagen">Agrega una imagen:</label>
  <input type="text" name="name" value="">
  <input type="file" name="photo" value="">
</form>
