
<div class="container">


<!-- Carousel-->

        <div id="myCarousel" class="contenedor carousel slide" data-ride="carousel">
            <h3 class='intro text-center'>Personalizado, hecho a mano y unico...</h3>

          <!-- Indicadores  -->

              <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ul>

          <!-- Imagenes  -->
            <div class="carousel-inner"> 
                <div class="carousel-item active">
                    <img src="/images/teclado.jpg" class="img-fluid" alt="">
                    <div class="carousel-caption">
                      <h3>Teclado mecánico MassDrop</h3>
                      <p>Switches MX-Cherry tactile y key caps intercambiables</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/images/zipo.jpg" class="img-fluid" alt="">
                    <div class="carousel-caption">
                      <h3>Zippo Lighters: 1941 Replica</h3>
                      <p>Un clásico americano en 5 estilos</p>
                    </div>
                </div>


                <div class="carousel-item">
                    <img src="/images/dadosjpg.jpg" class="img-fluid" alt="">
                    <div class="carousel-caption">
                      <h3>Juego de dados MDG </h3>
                      <p>Poliédrica tipo aguamarina grabada 16mm </p>
                    </div>
                </div>
            </div>

<!-- Controles  -->
            <a href="#myCarousel" class="carousel-control-prev"  data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a href="#myCarousel" class="carousel-control-next"  data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
        </div>


</div>

<br><br>
<hr>

<!-- CRegistro  -->
<div class="contenedor">
    <div class="row justify-content-center col-12">
        <h5 class="h-h5">Aún no tienes cuenta?</h5>   
    </div>   

    <div class="row justify-content-center col-12"> 
        <a href="/signup" class="signup btn-info btn-lg">Registrate aqui!</a>
    </div>
</div>
<br><br>



<div class="container">


<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3 justify-content-around">


  <div class="bgdh mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden a"  >
    <div class="my-3 py-3">
      <h2 class="display-5">Artículos únicos</h2>
      <p class="lead">Tenemos miles de articulos totalmente unicos. Solo tienes que encontrar lo que busques.</p>
    </div>
    <div class="bg-light shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">
      <img src="/images/indpdnt.svg" class="img-fluid" alt="">
    </div>
  </div>



  <div class="bgd mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden a">
    <div class="my-3 p-3">
      <h2 class="display-5">Compras seguras</h2>
      <p class="lead">Usamos la mejor tecnologia para proteger tus transacciones.</p>
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 0 0;">
<img src="/images/security.svg" class="img-fluid" alt="">
    </div>
  </div>

</div>


</div>
<br><br><br>

 <!-- Wlcome card  -->
  <div class="container contenedor">
    <div class="card shadow-lg border border-0">
      <div class="row">
        <div class="col-md-6">

          <div class="card-block ml-5">
            <h4 class="card-title contenedor">Te ayudamos a promover tus craciones!</h4>
             <br>
             <br>
            <ul> 
              <li>Compra productos de vendedores independientes</li>
              <li>Resgistrate como vendedor</li>
              <li>Da de alta tu tienda y tus productos</li>
              <li>Haz que el mundo te descubra</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-img-bottom">
           <img src="/images/girl_choosing.svg" class="img-fluid hpg-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br>
 

