
<!-- Carousel-->

        <div id="myCarousel" class="contenedor carousel slide" data-ride="carousel">
            <h3 class='intro text-center'>Personalizado, hecho a mano y unico...</h3>

          <!-- Indicadores  -->

              <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ul>

          <!-- Imagenes  -->
            <div class="carousel-inner"> 
                <div class="carousel-item active">
                    <img src="/images/undraw_deliveries_131a.svg" class="img-fluid" alt="">
                    <div class="carousel-caption">
                      <h3>Artículos únicos</h3>
                      <p>Tenemos miles de articulos totalmente unicos. Solo tienes que encontrar lo que busques</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/images/undraw_add_to_cart_vkjp.svg" class="img-fluid" alt="">
                    <div class="carousel-caption">
                      <h3>Vendedores independientes</h3>
                      <p>Compra directamente a artesanos que ponen toda su alma en cada producto que hacen</p>
                    </div>
                </div>


                <div class="carousel-item">
                    <img src="/images/undraw_security_o890.svg" class="img-fluid" alt="">
                    <div class="carousel-caption">
                      <h3>Compras seguras</h3>
                      <p>Usamos la mejor tecnologia para proteger tus transacciones</p>
                    </div>
                </div>
            </div>

<!-- Controles  -->
 <a href="#myCarousel" class="carousel-control-prev"  data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a href="#myCaro usel" class="carousel-control-next"  data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
  </div>
<br><br>
<hr>

<!-- CRegistro  -->
<div class="contenedor">
    <div class="row justify-content-center col-12">
        <h5 class="h-h5">Aún no tienes cuenta?</h5>   
    </div>   

    <div class="row justify-content-center col-12"> 
        <a href="/signup" class="signup btn-info btn-lg">Registrate aqui!</a>
    </div>
</div>
<br><br>

 <!-- Wlcome card  -->
  <div class="container contenedor">
    <div class="card">
      <div class="row">
        <div class="col-md-6">
          <div class="card-block">
            <h4 class="card-title">Te ayudamos a promover tus craciones!</h4>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius explicabo quia expedita corrupti sequi distinctio laudantium voluptatem veritatis dolorem quasi cumque culpa quod necessitatibus ab nostrum, voluptatum ipsa quo nulla.</p>
            <p class="card-text">Cras convallis ut turpis vitae facilisis. Morbi eu augue vel quam efficitur rhoncus vitae eget lectus. Cras augue ligula, aliquam ut enim ut, feugiat imperdiet sem.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-img-bottom">
           <img src="/images/goingup.svg" class="img-fluid hpg-img" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
<br><br><br><br><br><br><br><br>
 

 
