<!-- layout.hbs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <title>OSS Vendelo!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>



<!-- Main Navbar  -->

<nav class="navbar top-nav navbar-nav  navbar-expand-sm sticky-top">
        <a class="navbar-brand" href="/home"><img src="/images/logo.png" class="logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#one">
             <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
        </button>

        <form action="/buscaproducto" class="search-bar mb-2 mr-sm-2">
             <input class="form-control mr-sm-2" name="producto" type="search" placeholder="Busca un producto">
             <button class="btn btn-primary" type="submit">Buscar</button>
        </form>

        <div class="collapse navbar-collapse" id="one">
            <ul class="navbar-nav mr-auto">


                 <li class="nav-item"><a class="nav-link" href="/perfil"><i class="fas fa-user"></i></a></li>
                 <li class="nav-item"><a class="nav-link" href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                 <li class="nav-item"><a class="nav-link" href="/administrartienda"><i class="fas fa-store"></i></a></li>
                 <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>

            </ul>
        </div>
</nav>
<!-- Category Navbar -->
<nav>
        <div class="container border border-top-0 border-left-0 border-right-0">
            <div class="row top-links">
              <ul class="nav justify-content-center">
                  <li class="nav-item col-sm"><a href="/cat/RYC" class="nav-link">Ropa y Calzado</a></li>
                  <li class="nav-item col-sm"><a href="/cat/HYD" class="nav-link">Hogar y Decoración</a></li>
                  <li class="nav-item col-sm"><a href="/cat/JYC" class="nav-link">Joyería y Complementos</a></li>
                  <li class="nav-item col-sm"><a href="/cat/JYO" class="nav-link">Juegos y Ocio</a></li>
                  <li class="nav-item col-sm"><a href="/cat/ACO " class="nav-link">Arte y Colección</a></li>
                  <li class="nav-item col-sm"><a href="/cat/VIN" class="nav-link">Vintage</a></li>
              </ul>

            </div>
        </div>
</nav>

        {{{ body }}}

<!-- Footer -->
  <footer id="myFooter" class="fixed-bottom">
      <div class="wrapers">
            <div class="container">
                <div class="row">
                    <ul class="nav justify-content-center">
                        <li class="col-sm"><a href="/login" class="bottom-link">Compra</a></li>
                        <li class="col-sm"><a href="/login" class="bottom-link">Vende</a></li>
                        <li class="col-sm"><a href="/404" class="bottom-link">Acerca de OSS</a></li>
                        <li class="col-sm"><a href="/404" class="bottom-link">Aviso de Privacidad</a></li>
                        <li class="col-sm"><a href="/404" class="bottom-link">Condiciones de uso</a></li>
                    </ul>
                </div>
            </div>
            <div class="social-bar">
                <ul class="nav justify-content-center">
                    <il class="col-sm-2"><a href="https://www.facebook.com/" target="_blank" class="foot-link fb-ic"><i class="fab fa-facebook"></i></a></il>
                    <il class="col-sm-2"><a href="https://www.instagram.com" target="_blank" class="foot-link ins-ic"><i class="fab fa-instagram"> </i></a></il>
                    <il class="col-sm-2"><a href="https://twitter.com" target="_blank" class="foot-link twitter"><i class="fab fa-twitter"></i></a></il>
                    <il class="col-sm-2"><a href="https://www.pinterest.com.mx" target="_blank" class="foot-link pin-ic"><i class="fab fa-pinterest"> </i></a></il>
                </ul>
            </div>

       </div>
            <div>
                    <a href="/login"  class="col-sm-2 cuote"><img src="/images/logo.png" class="logoFooter">Haz que el mundo te descubra!</a>
                    <div class="copy" >© 2019 Oss Inc.</div>
            </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
