 
<!-- Avatar img 

   
   -->


  <!-- left nav bar  -->
  <div class="container contenedor">
  	<div class="row shadow-lg cta-card">
  		<div class="col-md-3 contenedor">
  		     <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active">Perfil</a>
                <a href="/compras" class="list-group-item list-group-item-action">Compras</a>
                <a href="/carrito" class="list-group-item list-group-item-action">Carrito</a>
                <a href="/administrartienda" class="list-group-item list-group-item-action">Tienda</a>
              </div>
              </div>
                <div class="col-md-9">
                  <div class="card contenedor">
                    <div class="card-body">
                      <div class="row col-12">
                        <div class="justify-content-start">
                            <h4 class="text-secondary"><i class="text-dark">¡Bienvenido!</i> {{perfil.username}}</h4>         
                        </div>          
                      </div>

                        <hr>
     
<!-- Card body  -->
  		            <div class="row bgd">
  		                <div class="col-sm-12">

                            <div class="d-flex flex-row-reverse contenedor">
                                <div class="card-img-right">
                                    <img src="/images/avatar.svg" class="img-fluid avatar" alt="">
                                </div>
                            </div>



  		                    <form>
                                <div class="form-group row">
                                  <label for="username" class="col-4 col-form-label"> </label>
                                </div>

                                <div class="form-group row">
                                  <label for="name" class="col-4 col-form-label">Usuario</label>
                                  <div class="col-8">
                                    <label id="name" name="name" placeholder="First Name" class="form-control here" type="text"><h5>{{perfil.username}}</h5></label>
                                  </div>
                                </div>


                                <div class="form-group row">
                                  <label for="lastname" class="col-4 col-form-label">Correo eléctronico</label>
                                  <div class="col-8">
                                    <label id="name" name="name" placeholder="First Name" class="form-control here" type="text"><h5>{{perfil.email}}</h5></label>
                                  </div>
                                </div>

                                                
                          </form>
  		                </div>
  		            </div>

  		        </div>
  		    </div>
  		</div>
  	</div>
  </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
