<div class="container">


      <h1>Usuario</h1>
      <p>Personalizado, hecho a mano y unico...</p>

 
      <div class="card-deck justify-content-center">
   
        <div class="" style="width:200px">
                <img class="card-img-top" src="https://i.etsystatic.com/11703537/c/1019/814/0/17/il/9307c3/1064959154/il_340x270.1064959154_qaxy.jpg" alt="Card image" style="width:100%">
              <div class="card-body text-center">
                <h4 class="card-title">Ropa y Calzado</h4>
                <p class="card-text">Descripcion de la categoria, podemos describir algunos productos aqui</p>
                <a href="#" class="btn btn-primary">Visitar categoria...</a>
              </div>
          </div>  
             
      </div>
</div>
