

.logo{
  width: 125px;
  margin-right: 50px;
}

.navbar {
  background:#2B30B3;
  .nav-link {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
  }
  span{
    color: #fff;
  }
}

.top-links{background-color: #fff;}
.wraper{ background-color: #b6afaf6b; }
.intro{font-family: 'Montserrat', sans-serif;}

.nav {
  width:100%;
  padding-top: 15px;
  
  .nav-link {
      color: #737373;  
      font-family: 'Montserrat Semi-bold', sans-serif;
      text-align: center;
  }
}

.search-bar{
  width: 80%;
  display: flex;
}

#myFooter {
    width:100%;
    background: #2B30B3;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    .wrapers{
        display: flex;
    }

    .row{
        font-size: 12px;
        list-style-type: none;
        
    }

    .bottom-link{
        color:#fff;
    }

    .social-icons{
        float: right;
    }

    .foot-link{
        color:#fff;
        padding-right: 5px;
        font-size: 18px;
    }

    .logoFooter{
        width: 80px;
        float: left;
        margin-left: 20px;
    }

    .cuote{
        color: #fff;
        font-size: 10px;
    }

    .copy{
        font-size: 10px;
        float: right;
    }
}


#myCarousel{
    
    .carousel-inner img {
        width: 100%; /* Set width to 100% */
        min-height:200px;
        max-height: 400px;
        background-color: #b6afaf6b; 
    }

    .carousel-caption {
        color:rgb(255, 255, 255);
        font-family: 'Montserrat Semi-bold', sans-serif;
        font-size: 20px;
        text-shadow: 2px 2px 2px#2B30B3;
    }
    .carousel-caption h1{ font-family: 'Montserrat bold', sans-serif; }
}





